<div class="content" id="userpage">
	<div id="header">
		<span id="header-before" style="background: #{{userinfo.avatar_bg}};"></span>
		<div class="row">
			<div class="col">
				<img ng-if="userinfo.avatar_url" ng-src="https://avatars.devrant.com/{{userinfo.avatar_url}}" alt="User Avatar" id="avatar">
			</div>
			<div class="col username">
				<h1 id="header-title">{{userinfo.username}}</h1>
			</div>
		</div>
	</div>

	<div id="user-stats" class="container">
		<h3 class="stats-title">General</h3>
		<div class="row">
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Score</h4>
						<p class="card-text stat-number">{{userinfo.score}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Rants</h4>
						<p class="card-text stat-number">{{userinfo.rants}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Comments</h4>
						<p class="card-text stat-number">{{userinfo.comments}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Favorites</h4>
						<p class="card-text stat-number">{{userinfo.favorites}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Upvoted</h4>
						<p class="card-text stat-number">{{userinfo.upvoted}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Collabs</h4>
						<p class="card-text stat-number">{{userinfo.collabs}}</p>
					</div>
				</div>
			</div>
		</div>

		<span class="row-spacer"></span>

		<h3 class="stats-title">Ranks</h3>
		<div class="row">
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Score Rank</h4>
						<p class="card-text stat-number">{{userinfo.scoreRank | rank}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Rant-Count Rank</h4>
						<p class="card-text stat-number">{{userinfo.rantsRank | rank}}</p>
					</div>
				</div>
			</div>
		</div>

		<span class="row-spacer"></span>

		<h3 class="stats-title">Graphs</h3>
		<div class="card animated zoomIn graph-box">
			<div class="card-body">
				<h4 class="card-title">Total</h4>
				<p class="card-text">
					<div class="char-container" style="position: relative; width: 100%;">
						<p ng-if="!dataTotal" class="card-text stat-number">{{dataError}}</p>
						<canvas ng-if="dataTotal" class="chart chart-line stats-chart" chart-data="dataTotal" chart-labels="labels" chart-series="chartSeries" chart-options="chartOptions"></canvas>
					</div>
				</p>
			</div>
		</div>
		<div class="card animated zoomIn graph-box">
			<div class="card-body">
				<h4 class="card-title">Daily</h4>
				<p class="card-text stat-number">
					<div class="char-container" style="position: relative; width: 100%;">
						<p ng-if="!dataDaily" class="card-text stat-number">{{dataError}}</p>
						<canvas ng-if="dataDaily" class="chart chart-line stats-chart" chart-data="dataDaily" chart-labels="labels" chart-series="chartSeries" chart-options="chartOptions_daily" chart-dataset-override="datasetOverride"></canvas>
					</div>
				</p>
			</div>
		</div>

		<span class="row-spacer"></span>

		<h3 class="stats-title">Other</h3>
		<div class="row">
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Latest Rant</h4>
						<p class="card-text stat-number">
							<iframe ng-if="userinfo.latest_rant" id="latest-rant" name="latest-rant" ng-src="{{userinfo.latest_rant}}" frameborder="0" height="610" width="100%">iFrame not supported.</iframe>
							<span ng-if="!userinfo.latest_rant">{{userinfo.latest_rant_error}}</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="row h-100">
					<div class="col-xl-7">
						<div class="card animated zoomIn">
							<div class="card-body">
								<h4 class="card-title">Live Score</h4>
								<p class="card-text stat-number">{{liveScore}}</p>
							</div>
						</div>
					</div>
					<div class="col-xl-7">
						<div class="card animated zoomIn">
							<div class="card-body">
								<h4 class="card-title">Big Avatar</h4>
								<p class="card-text stat-number">
									<img ng-src="https://avatars.devrant.com/{{userinfo.avatar_big_url}}" alt="Big Avatar" class="img-fluid rounded">
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>