<div class="content" id="userpage">
	<div id="header">
		<span id="header-before" style="background: #{{userinfo.avatar_bg}};"></span>
		<div class="row text-center">
			<div class="col-md-3">
				<img ng-if="userinfo.avatar_url" ng-src="https://avatars.devrant.com/{{userinfo.avatar_url}}" alt="User Avatar" id="avatar">
			</div>
			<div class="col-md-9 username">
				<h1 id="header-title">
					<a class="hidden-link" target="_blank" ng-href="https://devrant.com/users/{{userinfo.username}}">{{userinfo.username}}</a>
				</h1>
			</div>
		</div>
	</div>

	<div id="user-stats" class="container">
		<h3 class="stats-title">General</h3>
		<div class="row">
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">
							Score
							<a ng-click="fullscreenScore()" title="Fullscreen">
								<span class="float-right">
									<svg id="fullscreen-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
										<path d="M14 18l10-7.088-10-6.912v3.042s-11.618 2.583-14 12.958c5.072-5.431 14-5.218 14-5.218v3.218z"
										      fill="#C1C1CA" />
									</svg>
								</span>
							</a>
						</h4>
						<p class="card-text stat-number" id="fullscreenScoreNum">{{liveData.score | numberIfType}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Rants</h4>
						<p class="card-text stat-number">{{liveData.rants | numberIfType}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Comments</h4>
						<p class="card-text stat-number">{{liveData.comments | numberIfType}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Favorites</h4>
						<p class="card-text stat-number">{{liveData.favorites | numberIfType}}</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Upvoted</h4>
						<p class="card-text stat-number">{{liveData.upvoted | numberIfType}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Collabs</h4>
						<p class="card-text stat-number">{{liveData.collabs | numberIfType}}</p>
					</div>
				</div>
			</div>
		</div>

		<span class="row-spacer"></span>

		<h3 class="stats-title">Ranks</h3>
		<div class="row">
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Score Rank</h4>
						<p class="card-text stat-number">{{userinfo.scoreRank | rank}}</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Rant-Count Rank</h4>
						<p class="card-text stat-number">{{userinfo.rantsRank | rank}}</p>
					</div>
				</div>
			</div>
		</div>

		<span class="row-spacer"></span>

		<h3 class="stats-title">Graphs</h3>
		<div class="card animated zoomIn graph-box">
			<div class="card-body">
				<h4 class="card-title">Total</h4>
				<div class="card-text char-container" style="position: relative; width: 100%;">
					<p ng-if="!dataTotal" class="stat-number">{{dataError}}</p>
					<canvas ng-if="dataTotal"
					        class="chart chart-line stats-chart"
					        chart-data="dataTotal"
					        chart-labels="labels"
					        chart-series="chartSeries"
					        chart-options="chartOptions"></canvas>
				</div>
			</div>
		</div>
		<div class="card animated zoomIn graph-box">
			<div class="card-body">
				<h4 class="card-title">Daily</h4>
				<div class="card-text char-container" style="position: relative; width: 100%;">
					<p ng-if="!dataDaily" class="stat-number">{{dataError}}</p>
					<canvas ng-if="dataDaily"
					        class="chart chart-line stats-chart"
					        chart-data="dataDaily"
					        chart-labels="labels"
					        chart-series="chartSeries"
					        chart-options="chartOptions_daily"
					        chart-dataset-override="datasetOverride"></canvas>
				</div>
			</div>
		</div>

		<span class="row-spacer"></span>

		<h3 class="stats-title">Tables</h3>
		<div class="card animated zoomIn table-box">
			<div class="card-body">
				<h4 class="card-title">Future projections</h4>
				<div class="card-text table-responsive">
					<p ng-if="!dataFuture" class="stat-number" ng-bind-html="dataError"></p>
					<table ng-if="dataFuture" class="table">
						<thead>
						<tr>
							<th scope="col">Goal Date</th>
							<th scope="col">Time until</th>
							<th scope="col">Score prediction</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="data in dataFuture">
							<td>{{data.date}}</td>
							<td ng-class="(data.time != '-- NOW --') ? 'text-success' : 'text-grey'">{{data.time}}</td>
							<td>{{data.score | number}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<span class="row-spacer"></span>

		<h3 class="stats-title">Other</h3>
		<div class="row">
			<div class="col-xl-6">
				<div class="card animated zoomIn">
					<div class="card-body">
						<h4 class="card-title">Latest Rant</h4>
						<p class="card-text text-center">
							<iframe ng-if="userinfo.latest_rant" id="latest-rant" name="latest-rant" ng-src="{{userinfo.latest_rant}}" frameborder="0"
							        height="610" width="100%">iFrame not supported.
							</iframe>
							<span ng-if="!userinfo.latest_rant">{{userinfo.latest_rant_error}}</span>
						</p>
					</div>
				</div>
			</div>
			<div class="col-xl-6">
				<div class="row h-100">
					<div class="col-xl-7">
						<div class="card animated zoomIn">
							<div class="card-body">
								<h4 class="card-title">Devrant++ Member since</h4>
								<p class="card-text stat-number" ng-if="userinfo.start_time">{{userinfo.start_time * 1000 | date:'mediumDate'}}</p>

							</div>
						</div>
					</div>
					<div class="col-xl-7">
						<div class="card animated zoomIn">
							<div class="card-body">
								<h4 class="card-title">Big Avatar</h4>
								<p class="card-text text-center">
									<img ng-src="https://avatars.devrant.com/{{userinfo.avatar_big_url}}" alt="Big Avatar" class="img-fluid rounded">
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card animated zoomIn devbanner-box">
			<div class="card-body">
				<h4 class="card-title"><a href="https://devbanner.center" class="hidden-link" target="_blank" style="color: #C1C1CA !important;">devBanner</a></h4>
				<div class="card-text text-center">


					<div class="row">
						<div class="col-md-9 col-centered">
							<img ng-src="https://generator.devBanner.center/banner?username={{devBanner.username}}&subtext={{devBanner.subtext}}"
							     alt="devBanner"
							     class="img-fluid rounded">
						</div>
						<div class="col-md-9 col-centered" id="bannerInput">
							<div class="input-group">
								<input type="text"
								       id="bannerSubtext"
								       class="form-control"
								       placeholder="Subtext... (Optional)"
								       aria-label="Enter subtext for banner..."
								       ng-model="devBanner.subtextInput"
								       ng-keyup="updateBanner()">
								<span class="input-group-btn">
									<a class="btn button-red hidden-link" id="bannerDownload" title="Download Banner" download="banner.png" href="https://generator.devBanner.center/banner?username={{devBanner.username}}&subtext={{devBanner.subtext}}">Download</a>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
</div>